{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- Content
    ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row">

            <div id="primary" class="eight columns">

                <!-- respond -->
                <div class="respond">
                    <h3>Register</h3>

                    {{ form(registrationForm) }}
                </div> <!-- Respond End -->

            </div>  <!-- Comments End -->

        </div>


    </div>
{% endblock %}
