body {
    background-color: lightgray;
}


.tagcloud > div > div > input {
    width: 100%;
}

span.tag.label.label-info > span {
    width: 20px;
}

.my-container {
    padding: 0 25vw;
}

.app-fix > div {
    min-height: 1vh !important;
}